

body{
  background-color: #F2E6D8
}

.sparkle{
  display: flex;
}

.obj1,.obj2, .obj3, .obj4{
  width: 50;
  height: 50;
  rotate: -45deg;
  margin: 30px;
}

.obj1{
  background-color: #FAA7B9;
  animation: run 1s infinite linear;
}

.obj2{
  background-color: #9AE69A;
  animation: run 2s infinite linear;
}

.obj3{
  background-color: #9AC8E6;
  animation: run 0.5s infinite linear;
}

.obj4{
  background-color: #F7E199;
  animation: run 3s infinite linear;
}

.control{
  position: fixed;
  bottom: 30px;
}

@keyframes run{
  0% {
    transform: translateY(0px) translateX(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(100px) translateX(-100px);
    opacity: 0.5;
  }
  25% {
    transform: translateY(300px) translateX(-300px);
    opacity: 1;
  }
  50% {
    transform: translateY(500px) translateX(-500px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(700px) translateX(-700px);
    opacity: 0;
  }
/*   100% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  } */
}