

body{
/*   radial-gradient creates gradiated colors around a center point, 
  this one is automatic to the center of the piece */
  background: radial-gradient(#1A3053, #0D1129);
  font-family: Micro5, serif;
  height: 100%;
}

audio{
  opacity: 0.5;
  box-shadow: 1px 1px 20px #47B9FF;
}

p{
  text-align: center;
}


.sparkle, .stars, .rain, .text, .control{
  display: flex;
}

.sparkle{
  z-index: 0;
  position: static;
}

.text{
  z-index: 4;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 25px #47B9FF;
  font-size: 50px;
}

.text:hover{
  animation: sway 3s infinite linear;
}

.stars{
  z-index: 10;
}

.rain{
  z-index: 2;
}

.droplet1, .droplet2, .droplet3, .droplet4, .droplet5, .droplet6{
  position: relative;
  margin: 70px;
  border-left: 1px solid white;
  height: 30px;
}

.droplet1{
  animation: run-line 1s infinite linear;
}

.droplet2{
  animation: run-line 0.3s infinite linear;
}

.droplet3{
  animation: run-line 1.4s infinite linear;
}

.droplet4{
  animation: run-line 0.6s infinite linear;
}

.droplet5{
  animation: run-line 1.7s infinite linear;
}

.droplet6{
  animation: run-line 2s infinite linear;
}

.obj1,.obj2, .obj3, .obj4, .obj5, .obj6, .obj7, .obj8{
  z-index: 3;
  position: relative;
  width: 50;
  height: 50;
  rotate: -45deg;
  margin: 30px;
}

.star1{
  position: relative;
  top: 200px;
  left: 200px;
}

.star2{
  position: relative;
  top: 50px;
  left: 600px;
}

.star3{
  position: relative;
  bottom: -600px;
  right: -800px;
}

.star4{
  position: relative;
  bottom: -900px;
  right: -400px;
}

.star5{
  position: relative;
  bottom: -600px;
  right: -50px;
}

.star6{
  position: relative;
  bottom: -950px;
  right: -800px;
}

.star1, .star2, .star3, .star4, .star5, .star6{
  width: 15;
  height: 15;
  rotate: -45deg;
  background-color: #6A70AD;
  opacity: 0.3;
}

.star1:hover, .star2:hover, .star3:hover, .star4:hover, .star5:hover, .star6:hover{
  animation: spin 0.5s infinite linear;
}

.obj1{
  background-color: #FAA7B9;
  animation: run 1s infinite linear;
}

.obj2{
  background-color: #9AE69A;
  animation: run 2s infinite linear;
}

.obj3{
  background-color: #9AC8E6;
  animation: run 0.5s infinite linear;
}

.obj4{
  background-color: #F7E199;
  animation: run 3s infinite linear;
}

.obj5{
  background-color: #FFC58C;
  animation: run 0.7s infinite linear;
}

.obj6{
  background-color: #90E8CC;
  animation: run 1.5s infinite linear;
}

.obj7{
  background-color: #D29FED;
  animation: run 4s infinite linear;
}

.obj8{
  background-color: #8FBF8C;
  animation: run 0.4s infinite linear;
}

.control{
  z-index: 4;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  bottom: 60px;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes run{
  0% {
    transform: translateY(0px) translateX(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(100px) translateX(-100px);
    opacity: 0.5;
  }
  25% {
    transform: translateY(300px) translateX(-300px);
    opacity: 1;
  }
  50% {
    transform: translateY(500px) translateX(-500px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(700px) translateX(-700px);
    opacity: 0;
  }
}

@keyframes run-line{
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  25% {
    transform: translateY(300px);
    opacity: 1;
  }
  50% {
    transform: translateY(500px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes spin{
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes sway{
  0%{
    transform: translateY(0px), translateX(0px);
  }
  10% {
    transform: translateX(1px);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateY(2px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}